.welcome {
    background-color: #BDBDBD;
    padding: 50px;
    font-size: large;
    text-align: center;
}

.logo{
    margin: 75px;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-image: url("../../assets/logo.png"); 
}

.banner{
    width: auto;
    height: 100vh;
   
}

body {  
    background-color: black;
    background-position: right 125px;
    background-image: url("../../assets/colagem-transparency.png");  
    background-repeat: repeat-x;
}